<div class="container">
<div class="text-center"><h1>Albums</h1></div>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Open</th>
      <th>Modify</th>
    </thead>
    <tbody>
      <tr ng-repeat='album in albums track by $index'>
        <td>{{album.name}}</td>
        <td>
          <button class="btn btn-primary" ui-sref='album({album:album})'>Open Album</button>
        </td>
        <td>
          <button class="btn btn-danger" ng-click='deleteAlbum(album._id)'>X</button>
          <button class="btn btn-success" ui-sref='editAlbum({album: album})'>Edit</button>
        </td>
        
      </tr>
    </tbody>
  </table>
</div>